#tbodySinhVien{
    position: relative;
}
#loading{
    position: absolute;
    top: calc(50% + 20px);
    z-index: 1;
    width: 100%;
    left: 0;
    display: none;
    z-index: 2;
}

.tbody-cover{
    position: absolute;
    top: 48px;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Loader */

#formQLSV{
    position: relative;
}

#form-spinner{
    position: absolute;
    top: 0;
    bottom: 42px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

td button.btn-primary{
    /* width: 52px; */
    /* height: 38px; */
}

#updateDataBtn{
    width: 93px;
}

#btnSearch{
    width: 73px;
    height: 38px;
}